<form action="/auth/sign-up" method="GET">
    <button class="acc-btn" type="submit" id="sign-up">Sign-Up</button>
</form>
<span> or </span>
<form action="/auth/sign-in" method="GET">
    <button class="acc-btn" type="submit" id="sign-in">Sign-In</button>
</form>






