<header>
    <h1>Glitter clone!</h1>
    <nav>
        <p><a href="/">Home</a></p>
        <p><a>Explore</a></p>
        <p><a href="/auth/profile">Profile</a></p>
        <p><a href="/post/new">Post</a></p>
    </nav>

    <%if(accountInfo === undefined){ %>
        <%- include('./account-form.ejs') %>
    <% } else { %>
        <%- include('./logout-form.ejs') %>
    <% } %>
</header>