<%if(posts !== undefined) { %>
    <%for(post of posts) {%>
        <%console.log(post.author)%>
        <p><%=post.content%></p>
        <%if(accountInfo !== undefined && accountInfo._id === post.author._id.toString()){%>
            <div class="function">
                <form action="/post/<%=post._id%>/edit" method="GET">
                    <button class ='edit-btn' type="submit">Edit</button>
                </form>
                <form action="/post/<%=post._id%>?_method=DELETE" method="POST">
                    <button class='delete-btn' type="submit">Delete</button>
                </form>
            </div>
            <%}%>
        <% } %>
    <% } %>