
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glitter</title>
    <link rel="stylesheet" href="/css/style.css">
        
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <div class="history-header">Change Password</div>
        <form class="edit-form" action="/auth/<%=accountInfo._id%>/edit/password/?_method=PUT" method="POST">
            <label for="newPassword">New Password:</label>
            <input type="text" name="newPassword" id="newPassword" />
            <label for="confirmPassword">Confirm Password:</label>
            <input type="text" name="confirmPassword" id="confirmPassword" />
            <button class="sign-btn" type="submit">Update</button>
        </form>
    </main>
</body>
</html>