<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glitter</title>
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/index.js"></script>
        
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main>
    <div id="content">
        <div class="history-header">Recent Gleets</div>
        <%if(posts !== undefined) { %>
            <%for(post of posts) {%>
                <div class="gleet-container">
                    <div class="gleet-title"><%=post.author.username.toString()%> <span class="account-name">@<%=post.author.accountName%></span></div>
                    <div class="gleet-content"><%=post.content%></div>
                </div>
                <% } %>
        <% } %>
    </div>
    </main>
    </body>
</html>